:root {
    --button-width: 500px;
    --button-height: 80px;
    --normal-size: 30px;
}

#GameMenuContainer {
    padding: 50px;
    margin: auto;
}

.menu-button {
    width: var(--button-width);
    height: var(--button-height);
    font-size: var(--normal-size);
    margin: auto;
}
