:root {
    --inventory-cell-size: 100px;
    --inventory-cell-margin: 10px;
    --inventory-columns: 5;
}

#container {
    padding: 50px;
}

.inventory {
    flex-direction: row;
    flex-wrap: wrap;
}

.inventory-cell {
    width: var(--inventory-cell-size);
    height: var(--inventory-cell-size);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--inventory-cell-margin);
}
