:root {
}

.inventory-grid {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.inventory-cell {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
